@font-face {
  font-family: avenirmedium;
  src:url(font/avenirmedium.ttf)
}

body {
  font-family: avenirmedium;
  margin: 0;
  padding: 0;
  background-color: #BBDEFB;
}

.header-container {
  position: relative;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: -20px;
}

.header-section {
  background-color: #2196F3;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

p {
  font-size: 1rem;
  margin-top: 10px;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link-section,
.bio-section {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.link-section h2,
.bio-section h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
}

.link-list a {
  text-decoration: none;
  color: #000;
}

.link-list a:hover {
  color: #627eea;
}

.bio-section p {
  line-height: 1.5;
}

.social-btn {
  background-color: #03A9F4;
  color: #fff;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}

.social-btn:hover {
  background-color: #4158d0;
}


.footer {
  position: relative;
  padding: 20px;
  color: #fff;
  text-align: center; /* Center the text */
  font-size: 0.8rem; /* Adjust font size as needed */
  background-color: #2196F3;
  bottom: 0; /* Position at the bottom */
}
